<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
    <div class="nav-bar">
        <nav>
            <span class="logo">
                Plantagram
            </span>
            <span class="icons">


                <a href="/users/profile/<%=user._id %>"><i class="fa-solid fa-house"></i></a> 

                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-comment"></i>
                <i class="far fa-compass"></i>
            </span>
        </nav>
    </div> 
<body>
    <div class="polaroid">
        <h1>Edit Profile</h1>
        <form method="POST" action="/users/profile/edit/<%= user._id %>?_method=PUT">
            <div>
                <label for="name">Name: </label>
                <input name="name" type="text" value="<%= user.name%>"/>
            </div>
            <div>
                <label for="pronouns">Pronouns: </label>
                <input name="pronouns" type="text" value="<%= user.pronouns%>"/>
            </div>
            <div>
                <label for="username">Username: </label>
                <input name="username" type="text" value="<%= user.username%>"/>
            </div>
            <div>
                <label for="email">Email: </label>
                <input name="email" type="text" value="<%= user.email%>"/>
            </div>
            <div>
                <label for="profile_image">Profile Image: </label>
                <input name="profile_image" value="<%= user.profile_image%>"/>
            </div>
            <div>
                <label for="website">Website: </label>
                <input name="website" type="text" value="<%= user.website%>"/>
            </div>
            <div>
                <label for="bio">Bio: </label>
                <input name="bio" type="text" value="<%= user.bio%>"/>
            </div>
            <div>
                <input class="button button3" type="submit" value="Save"/>    
            </div>
    </div>
</body>
</html>