<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <main>
        <div class="container">
            <div>
                <a href="/users/tour/<%=oneUser._id %>">Tour Site</a>
            </div>
            <div class="profile-image">
                <h1><%=oneUser.name %></h1>
                <img src="<%=oneUser.profile_image %>" alt="<%=oneUser.name%>">
            </div>
            <div class="profile-info">
                <h1><%=oneUser.username %></h1>
                <h3><%=oneUser.pronouns %></h3>
                <h3><%=oneUser.website %></h3>
                <h3><%=oneUser.email%></h3>
                <h3><%=oneUser.bio%></h3>
            </div>
            <div class="">
                <button><a href="/users/profile/edit/<%=oneUser._id %>">Edit Profile</a></button>
            </div>
            <div>
                <a href="/posts/new/<%=oneUser._id %>">New Post</a>
            </div>
        </div>
        <div>
        <% for(let i = 0; i < posts.length; i++){ %>
            <% const post=posts[i] %>
        <a href="/posts/<%=post._id %>">
        <img src="<%= post.image %>" class="post-photo" alt="<%= post.caption %> Image">
        </a>
        <% } %> 
         </div>
    </main>
</body>
</html>