<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <div class="profile-grid">    
        <div class="profile-nav-bar">
            <nav>
                <span class="logo">
                    Plantagram
                </span>
                <a class="tour" href="/users/tour/<%=oneUser._id %>"><i class="fa-solid fa-circle-info"></i>Take a Tour!</a>
                <span class="icons">
                    <a class="create" href="/posts/new/<%=oneUser._id %>"><i class="fa-regular fa-square-plus"></i></a>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="far fa-compass"></i>
                    <a href="/users/registration"><i class="fa-solid fa-user-plus"></i></a>
                </span>
            </nav>
        </div> 
        <div class="profile-image">
            <img src="<%=oneUser.profile_image %>" alt="<%=oneUser.name%>">
        </div>
        <div class="user-settings">
            <h1 class="username"><%=oneUser.username %></h1>
            <button class="edit-btn"><a href="/users/profile/edit/<%=oneUser._id %>">Edit Profile</a></button>
        </div>
        <div class="profile-stats">
            <ul class="stats">
                <li class="stat-count">10 posts</li>
                <li class="stat-count">200 following</li>
                <li class="stat-count">1000 followers</li>
            </ul>
        </div>   
    </div>
    <div class="profile-bio">
        <h5 class="profile-name"><%=oneUser.name%></h5>                    
        <h5><%=oneUser.pronouns%></h5>
        <h5><%=oneUser.website%></h5>
        <h5><%=oneUser.email%></h5>
        <h5><%=oneUser.bio%></h5>
    </div>
    <ul class="navigation-list">
        <li class="navigation-item active">
            <i class="fa-solid fa-grip nav-icon"></i>
            <p class="navigation-item-text">POSTS</p>
        </li>
        <li class="navigation-item">
            <i class="fa-solid fa-tv nav-icon"></i>
            <p class="navigation-item-text">IGTV</p>
        </li>
        <li class="navigation-item">
            <i class="fa-solid fa-images nav-icon"></i>
            <p class="navigation-item-text">TAGGED</p>
        </li>
    </ul>
<main>
    <div class="gallery-container">
        <% for(let i = 0; i < posts.length; i++){ %>
        <% const post=posts[i] %>
        <div class="post">
        <a href="/posts/<%=post._id %>">
        <img src="<%= post.image %>" class="post-image" alt="<%= post.caption %> Image">
        </a>
        </div>
        <% } %>
    </div>
</main>
</body>
</html>