<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <h1>Edit Page | <%= post.name%></h1>
    <div>
        <form method="POST" action="/post/<%= post._id %>?_method=PUT">
            <div>
                <label> Edit Caption: </label>
                <input name='caption' type='text' value= '<%=post.caption %>'/>
            </div>
            <div>
                <label> Edit Location: </label>
                <input name='location' type='text' value='<%=post.location %>'/>
            </div>
            <div>
                <input type="submit" value="Edit Post: <%= post.name%>"/> 
            </div>
        </form>
    </div>
    
</body>
</html>