<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>

<body>
    <%- include('../partials/nav.ejs')%>
    <div class="polaroid">
        <h1>Edit Post</h1>
        <div>
            <form method="POST" action="/posts/edit/<%=post._id %>?_method=PUT">
                <div>
                    <img src="<%=post.image %>" alt="<%=post.name %>"/>
                </div>
                <div>
                    <label> Edit Caption: </label>
                    <input name='caption' type='text' value= '<%=post.caption %>'/>
                </div>
                <div>
                    <label> Edit Location: </label>
                    <input name='location' type='text' value='<%=post.location %>'/>
                </div>
                <div>
                    <input class="create-button" type="submit" value="Save"/> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>