<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/nav.ejs')%>

        <div class="polaroid">
            <div class="selected-post-img">
                <img src="<%=post.image%>" alt="<%=post.name %>"/>
            </div>
            <div>
                <h4><%=post.caption%></h4>
            </div>
            <div>
                <h4><%=post.location%></h4>
            </div>
            <div class="btn-set">
                <button class="create-button" > <a href="/posts/edit/<%= post._id %>">Edit</a></button>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="Delete" />
            </form>
            </div>
        </div>
</html> 