<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>

    <div class="nav-bar">
        <nav>
            <span class="logo">
                Plantagram
            </span>
            <span class="icons">
                <i class="fa-solid fa-house"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-comment"></i>
                <i class="far fa-compass"></i>
            </span>
        </nav>
    </div> 
        <div class="polaroid">
            <div class="selected-post-img">
                <img src="<%=post.image%>" alt="<%=post.name %>"/>
            </div>
            <div>
                <h4><%=post.caption%></h4>
            </div>
            <div>
                <h4><%=post.location%></h4>
            </div>
            <div class="btn-set">
                <a class="button button1" href="/posts/edit/<%= post._id %>">Edit Post</a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <input class="button button2" type="submit" value="Delete Post" />
            </form>
            </div>
        </div>
</html> 